/*
Paleta de cores (https://coolors.co/454851-73956f-7bae7f-95d7ae-fceff9)
Fontes (https://fonts.google.com/selection/embed)
layout (https://www.figma.com/design/2tKSSnn47Wz1mD1Rh9HMds/Curso-1---HTML-e-CSS%3A-ambientes-de-desenvolvimento%2C-estrutura-de-arquivos-e-tags-%5BPortf%C3%B3lio%5D-(Community)-(Copy)?node-id=1-11&t=tG8JxPfo2htII9S4-0)
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-background: #454851;
    --cor-texto: #FCEFF9;
    --cor-destaque: #7BAE7F;
    --cor-destaque-houver: #95D7AE;
    --fonte-montserrat: "Montserrat", serif;
    --fonte-krona-one: "Krona One", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-background);
    color: var(--cor-texto);
}

.cabecalho {
    padding: 5% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-monstserrat);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-texto);
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-krona-one);
}

strong {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--fonte-monstserrat);
}

.apresentacao__conteudo__botao {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__botao__subtitulo {
    font-family: var(--fonte-krona-one);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__conteudo__botao__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-destaque);
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-destaque);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-monstserrat);
}

.apresentacao__conteudo__botao__link__icone {
    padding: 21,5px 0;
}

.apresentacao__conteudo__botao__link:hover {
    background-color: var(--cor-destaque-houver);
}

.rodape {
    color: var(--cor-background);
    background-color: var(--cor-destaque);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-monstserrat);
    font-size: 24px;
}